<div class="container">
	<h1><%= user.name %> </h1>
	<hr>
	<p><h3><b>Email address: </b><%= user.email %> </h3></p>
	<h3><b>Favourite place: </b><%= user.place %> </h3>
	<h3><b>Favourite food: </b><%= user.food %> </h3>
	<h3><b>Favourite movie: </b><%= user.movie %> </h3>
	<h3><b>Favourite color: </b><%= user.color %> </h3>
	<h3><b>Favourite Actor: </b><%= user.actor %> </h3>
	<h3><b>Favourite Actress: </b><%= user.actress %> </h3>
	<h3><b>Greatest Achievment: </b><%= user.achieve %> </h3>
	<h3><b>Favourite Memory: </b><%= user.memory %> </h3>
	<h3><b>Greatest Crush: </b><%= user.crush %> </h3>
	<h3><b>Lovable person: </b><%= user.lover %> </h3>
	<h3><b>Favourite Pet(s) Name: </b><%= user.pet %> </h3>
	<h3><b>Memorable Gift: </b><%= user.gift %> </h3>
	<h3><b>Greatest Phobia: </b><%= user.phobia %> </h3>

	<a class="btn btn-lg btn-primary " href="/user/edit/<%= user.id %>">Edit</a>

</div>